.main{
    border: 1px;
    border-color: black;
    margin: 100px;
    border-style:outset;
    border-width: 7px;
}
.body{
    display: flex;
    justify-content:space-around;
    text-align: center;
    
}